<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/index.js" th:src="@{/js/index.js}"></script>
<title>login</title>
</head>
<body>
<div class="wrapper">
    <div class="container">
    	<h2>タイムカード</h2>
        <form class="form" action="#" th:action="@{/sign_in}" method="post">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <input class="id" type="text" name="id" placeholder="ユーザーID">
        <input class="pass" type="password" name="pass" placeholder="パスワード">
        <button class= "submit" type="submit" id="login-button">ログイン</button>
        </form>
    </div>
<!--     <div th:text="${userDataInfo}" ></div> -->
</div>
</body>
</html>