<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/main.js" th:src="@{/js/main.js}"></script>
<title>TimeCardTable</title>
</head>
<body>
<div class="header">
	<a class="login" th:text="${userDataInfo}">ログイン</a>
</div>
 <table border="1">
 	<tr th:each="workingTime : ${workingTimeList}" th:object="${workingTime}">
 		<td th:text="*{userId}"></td>
 		<td th:text="*{date}"></td>
 		<td th:text="*{inTime}"></td>
 		<td th:text="*{outTime}"></td>
 	</tr>
</table>
<form action="#" th:action="@{/main}" method="get">
	<button type="submit" class="btn-return" name="return" >戻る</button> 
</form>
</body>
</html>